footer {

    @media screen and (max-width:576px) {
        bottom: 60px !important;
    }
    @media screen and (min-width:576px) and (max-width:991px) {
        bottom: 75px !important;
    }
    .progress{
        height: 0.8rem;
    }
    .progress-bar{
        background-color: green;
        animation: pippo 30s;
        animation-play-state: paused;
        @keyframes pippo {
            0%{
                width: 0%;
            }
            100%{
                width: 100%;
            }
        }
    }
    .container {
        max-width: 100%;

        .row {
            color: rgb(144, 140, 140);


            .col {
                background-color: #2b2b2b;

                .progressBar {
                    width: 100%;
                    height: 20px;
                    position: relative;
                    top: 2px;
                    

                    #titleContainer {
                        position: absolute;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 100%;

                        #songTitle {
                            display: inline-block;
                            animation: marquee 10s linear infinite;
                        }

                        @keyframes marquee {
                            0% {
                                transform: translateX(100%);
                            }

                            100% {
                                transform: translateX(-100%);
                            }
                        }
                    }
                }

                a {
                    color: rgb(186, 186, 186);
                    margin-right: 4px;

                    i {
                        &:hover {
                            color: rgb(29, 185, 84);
                        }
                    }
                }

                p {
                    margin-bottom: 0;
                    font-size: 10px;

                }

                img {
                    height: 50px;
                    padding: 5px;
                }


            }
        }
    }

    #pippo {
        height: 1.5rem;
        overflow: hidden;
    }
}