footer {

    @media screen and (max-width:991px) {
        bottom: 72px !important;

    }

    .container {
        max-width: 100%;

        .row {
            color: rgb(144, 140, 140);

            .col {
                background-color: #2b2b2b;

                .progressBar {
                    width: 100%;
                    height: 20px;
                    background-color: #ccc;
                    position: relative;
                    top: 2px;

                    #titleContainer {
                        position: absolute;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 100%;

                        #songTitle {
                            display: inline-block;
                            animation: marquee 10s linear infinite;
                        }

                        @keyframes marquee {
                            0% {
                                transform: translateX(100%);
                            }

                            100% {
                                transform: translateX(-100%);
                            }
                        }
                    }
                }

                a {
                    color: rgb(186, 186, 186);
                    margin-right: 4px;
                }

                p {
                    margin-bottom: 0;
                }

                img {
                    height: 50px;
                    padding: 5px;
                }

            }
        }
    }
}