footer {

    @media screen and (max-width:991px) {
        bottom: 70px !important;

    }

    .container {
        max-width: 100%;

        .row {
            color: rgb(144, 140, 140);

            .col {
                background-color: #2b2b2b;

                a {
                    color: rgb(186, 186, 186);
                }

                p {
                    margin-bottom: 0;
                }

                img {
                    height: 50px;
                }

            }
        }
    }
}