.static-cards{
    .col{
        min-height: max-content;
    }
    .card{
        padding: 10px;
        background-color: #181818;
        color: #ffffff;
        height: max-content;
        img{
            margin-bottom: 1rem;
        @media screen and (max-width:991px){
            max-width: 150px;
        }    
        }
    }
    .card-text{
        height: 1.5rem;
        white-space: nowrap;
        overflow: hidden;
    }
    .subtitle-card{
        color: #727272;
        height: 1.5rem;
        overflow: hidden;
        white-space: wrap;
    }
}