main{
    background-color: #121212;

    .play-button{
        cursor: pointer;
        color: #1ED760;
    }

    i{
        color: #A6A6A6;
    }

    .track-list-header{
        color: #A6A6A6;
    }
}